{% extends 'base.html' %} {% block title %} URL Shortner {% endblock%} {% block
main%}
<h1>URL Shortner</h1>

<!-- {% for massage in get_flashed_messages() %}
<h3>{{ massage }}</h3>
{% endfor %} -->

<form action="yoururl" method="POST">
  <label for="url">Website URL</label>
  <input type="url" name="url" id="url" required />
  <br />
  <label for="code">shortname</label>
  <input type="text" name="code" id="code" required />
  <br />
  <input type="submit" value="shorten" />
</form>

<form action="yoururl" method="POST" enctype="multipart/form-data">
  <label for="file">file</label>
  <input type="file" name="file" id="file" required />
  <br />
  <label for="code">shortname</label>
  <input type="text" name="code" id="code" required />
  <br />
  <input type="submit" value="shorten" />
</form>
<hr />
<br />
<!-- to check we have any session codes to display  , with if statement-->
{% if codes %}

<ul>
  {% for code in codes %}
  <li>
    <!-- <h3><a href="/{{code}}"> {{code}}</a></h3> -->
    <h3><a href="{{url_for('redirect_to_url',code = code)}}"> {{code}}</a></h3>
  </li>
  {% endfor %}
</ul>

{% endif %} {% endblock %}
