{% extends 'base.html' %} {% block title %} URL Shortner {% endblock%} {% block
form %}
<section class="formone">
  <form class="bd-example m-1" action="yoururl" method="POST">
    <!-- Example Code -->

    <div class="form-floating mb-3">
      <input
        type="url"
        name="url"
        id="url"
        class="form-control"
        placeholder="http://google.com"
      />
      <label for="url">website URL</label>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        placeholder="shortname for url"
        type="text"
        name="code"
        id="code"
      />
      <label for="code">shortname</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <!-- End Example Code -->
  </form>
</section>
<section class="formtwo">
  <form
    class="bd-example m-1"
    action="yoururl"
    method="POST"
    enctype="multipart/form-data"
  >
    <!-- Example Code -->

    <div class="form-floating mb-3">
      <input
        type="file"
        name="file"
        id="file"
        class="form-control"
        placeholder="http://google.com"
      />
      <label for="file">Select file</label>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        placeholder="shortname for url"
        type="text"
        name="code"
        id="code"
      />
      <label for="code">shortname</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <!-- End Example Code -->
  </form>
</section>

<h2>Shorten names</h2>
{% if codes %}

<ul>
  {% for code in codes %}
  <li>
    <!-- <h3><a href="/{{code}}"> {{code}}</a></h3> -->
    <h3><a href="{{url_for('redirect_to_url',code = code)}}"> {{code}}</a></h3>
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock%}
